header
  img.logo( src="/images/logo.svg" )
  
  h1 
    span.chapeau #{info.date} &ndash; #{info.distance}km
    span.title #{info.start} &ndash; #{info.finish}

  .options
    button.fullscreen Fullscreen
    button.notifications Notifications