meta( property="og:site_name" content="Tim's TDF 2016" )
meta( name="description" content="A live dashboard for the Tour De France 2016 by Tim Benniks" )

meta( property="og:title" content="Tim's TDF 2016 live dashboard" )
meta( property="og:image" content="http://tims-tdf-2016.herokuapp.com/images/logo.png" )
meta( property="og:image:width" content="1218" )
meta( property="og:image:height" content="1024" )
meta( property="og:url" content="http://tims-tdf-2016.herokuapp.com" )
meta( property="og:description" content="A live dashboard for the Tour De France 2016 by Tim Benniks" )

meta( name="twitter:card" content="summary_large_image" )
meta( name="twitter:site" content="@timbenniks" )
meta( name="twitter:title" content="Tim's TDF 2016 live dashboard" )
meta( name="twitter:description" content="A live dashboard for the Tour De France 2016 by Tim Benniks" )
meta( name="twitter:image" content="http://tims-tdf-2016.herokuapp.com/images/logo.png" )

link( rel="apple-touch-icon", sizes="57x57", href="/icons/apple-icon-57x57.png" )
link( rel="apple-touch-icon", sizes="60x60", href="/icons/apple-icon-60x60.png" )
link( rel="apple-touch-icon", sizes="72x72", href="/icons/apple-icon-72x72.png" )
link( rel="apple-touch-icon", sizes="76x76", href="/icons/apple-icon-76x76.png" )
link( rel="apple-touch-icon", sizes="114x114", href="/icons/apple-icon-114x114.png" )
link( rel="apple-touch-icon", sizes="120x120", href="/icons/apple-icon-120x120.png" )
link( rel="apple-touch-icon", sizes="144x144", href="/icons/apple-icon-144x144.png" )
link( rel="apple-touch-icon", sizes="152x152", href="/icons/apple-icon-152x152.png" )
link( rel="apple-touch-icon", sizes="180x180", href="/icons/apple-icon-180x180.png" )

link( rel="icon" type="image/png", sizes="192x192", href="/icons/android-icon-192x192.png" )
link( rel="icon" type="image/png", sizes="32x32", href="/icons/favicon-32x32.png" )
link( rel="icon" type="image/png", sizes="96x96", href="/icons/favicon-96x96.png" )
link( rel="icon" type="image/png", sizes="16x16", href="/icons/favicon-16x16.png" )

link( rel="mask-icon" href="/images/logo.svg"  )

meta( name="msapplication-TileColor", content="#ffffff" )
meta( name="msapplication-TileImage", content="/icons/ms-icon-144x144.png" )
meta( name="theme-color", content="#ffffff" )

link( rel="apple-touch-startup-image", href="/icons/android-icon-192x192.png" )
meta( name="apple-mobile-web-app-capable", content="yes" )
meta( name="apple-mobile-web-app-status-bar-style", content="black" )