p.banner-stat.time-driven riding for #{riddenFor}
p.banner-stat.to-go #{toGo}km to go
p.banner-stat.steepness leaders have a steepness of #{steepness}%
p.banner-stat.avg-speed Speed is #{avgSpeed}km/h

.options
  button.map-show-news news
  button.map-show-groups groups
  //- button.map-show-riders fav riders