.map-banner
  p.banner-stat.time-driven riding for #[span.time-driven-placeholder]
  p.banner-stat.to-go #[span.to-go-placeholder ]km to go
  p.banner-stat.steepness leaders have a steepness of #[span.steepness-placeholder]%
  p.banner-stat.avg-speed Average speed is #[span.avg-speed-placeholder]km/h