li.news-banner-slide
  article
    h1 #{item.time} &ndash; #{item.title}
    if item.desc
      - var desc = item.desc

      if desc.length > 220
        - desc = desc.substr( 0, 220 ) + '&hellip;';
      
      p!=item.desc.replace( /\n\n/g, '<br />' )
      