extends layout

block content

  .section-holder.before-stage
    include includes/header.jade
    
    .page-content
      .before-content
        article
          img( src="/images/logo.png", width="200" )
          h1 The stage will start #{starts}