extends layout

block content

  .section-holder.after
    include includes/header.jade
    
    .page-content
      section.news-data
        include includes/about-today.jade
      
      section.rank-data
        include includes/jerseys.jade
        include includes/rank.jade