extends layout

block content

  .section-holder.during( class=( livenews ) ? "livenews" : "tweet-stream" )
    
    include includes/header.jade
    
    .page-content
      if livenews
        include includes/livenews.jade
      else
        include includes/stream.jade

      section.other-data
        if !noprogress
          .progress
            include includes/progress.jade
        
        section.bottom-data
          include includes/jerseys.jade
          include includes/rank.jade