extends layout

block content

  .section-holder.map( data-start=info.startsAt )
    include includes/header.jade
    
    .map-banner
      include includes/map-banner.jade
 
    .page-content
      #map
      #news-sidebar-holder
        include includes/map-news.jade
      #groups-sidebar-holder
      //- #riders-sidebar-holder
      //-   include includes/map-riders.jade
      #interest-popup-holder
      #group-popup-holder
