extends layout

block content

  .section-holder.map
    include includes/header.jade
    .map-banner
      include includes/map-banner.jade
 
    .page-content
      #map
      #interest-popup-holder
      #group-popup-holder