extends layout

block content

  .section-holder.map
    include includes/header.jade
    include includes/map-banner.jade
 
    .page-content
      #map
      #map-window-holder
        button.close-window close
        .map-window-content-wrapper