extends layout

block content
  
  .section-holder.no-tour
    header
      img.logo( src="/images/logo.svg" )
    
      h1
        span.chapeau Tim's TDF 2016
        span.title The tour starts #{starts}

      .options
        button.fullscreen Fullscreen
        a.about( href="/about" ) ABOUT

    .page-content
      include includes/stream.jade