extends layout

block content

  .section-holder.rest
    
    include includes/header.jade
    
    .page-content
      include includes/stream.jade

      section.rank-data
        include includes/jerseys.jade
        include includes/rank.jade