.before-stage
  .before-content
    
    article
      width: 300px
      text-align: center
      margin: 0
      position: absolute
      top: calc( 50% + 2em )
      left: 50%
      transform: translate( -50%, -50% )
      
      img
        display: block
        margin: 0 auto 2em
      
      h1
        padding: 1em
        background: rgba( #fff, .3 )
        border-bottom: 1px solid #f9bc0d
        font-size: 1.5em
        text-transform: uppercase
        color: rgba( #000, 0.6 )      