.section-holder.no-tour
  width: 100%

  .page-content
    display: flex
    flex-direction: column

    section
      display: block
        display: none
            
@media screen and ( min-width: 600px )
  html, body
    height: 100%
    overflow: hidden
    
  .section-holder.no-tour
    height: 100%

    .page-content
      height: calc( 100% - 6em )
      flex-direction: row
      
      section       
        &.stream
          flex: 1 1 0
          order: 1
          
@media screen and ( min-width: 1000px )
  .section-holder.no-tour
  
    .page-content
    
      section       
        &.stream
          flex: 2 2 0
          order: 1