*
  box-sizing: border-box;
  
.section-holder.after
  width: 100%

  .page-content
    display: flex
    flex-direction: column

    section
      display: block

      &.rank-data
        display: none
            
@media screen and ( min-width: 600px )
  html, body
    height: 100%
    overflow: hidden
    
  .section-holder.after
    height: 100%

    .page-content
      height: calc( 100% - 6em )
      flex-direction: row
      
      section
        &.news-data
          display: block
          overflow: auto
          -webkit-overflow-scrolling: touch
          flex: 1 1 0
        
        &.rank-data
          display: block
          overflow: auto
          -webkit-overflow-scrolling: touch
          flex: 1 1 0
          padding: 1em 1em 0 1em
          font-size: 1.2em
        
        &.jerseys
          display: flex