.section-holder.during
  width: 100%

  .page-content
    display: flex
    flex-direction: column

    section
      display: block

      &.stream
        order: 2

      &.other-data
        order: 1

      &.bottom-data
        padding: 1em 1em 0 1em
        font-size: 1.2em
        display: none
            
@media screen and ( min-width: 600px )
  html, body
    height: 100%
    overflow: hidden
    
  .section-holder.during
    height: 100%

    .page-content
      height: calc( 100% - 6em )
      flex-direction: row
      
      section
        &.stream
          flex: 1 1 0
          width: 50%
          order: 1
          
        &.other-data
          display: block
          overflow: auto
          -webkit-overflow-scrolling: touch
          width: 50%
          flex: none
          order: 2
        
        &.bottom-data
          flex: none
          display: block
        
        &.rank
          display: block

        &.jerseys
          display: flex


@media screen and ( min-width: 1000px )
  .section-holder.during .page-content section
    &.stream
      flex: 1 1 0
      
    &.other-data
      flex: 2 2 0

@media screen and ( min-width: 1300px )
  .section-holder.during .page-content section
    &.other-data
      overflow: initial

    &.bottom-data
      display: flex
      flex: 1 1 0
      height: 100%