.section-holder.no-tour
  width: 100%

  .page-content
    display: flex
    flex-direction: column

    section
      display: block

      &.rank-data
        display: none
            
@media screen and ( min-width: 600px )
  html, body
    height: 100%
    overflow: hidden
    
  .section-holder.no-tour
    height: 100%

    .page-content
      height: calc( 100% - 6em )
      flex-direction: row
      
      section       
        &.stream
          flex: 1 1 0
          order: 1
          
        &.rank-data
          display: block
          overflow: auto
          -webkit-overflow-scrolling: touch
          flex: 1 1 0
          padding: 1em 1em 0 1em
          font-size: 1.2em
          order: 2
        
        &.jerseys
          display: flex
          
@media screen and ( min-width: 1000px )
  .section-holder.no-tour
  
    .page-content
    
      section       
        &.stream
          flex: 2 2 0
          order: 1
          
        &.rank-data
          flex: 1 1 0
          order: 2