body {
  background: radial-gradient(#ffdb78, #fac018);
  color: #222;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1;
  font-size: 10px;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.3;
  color: #000;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: underline;
  color: #453301;
}
a:hover,
a:focus {
  outline: none;
  color: #000;
}
button {
  margin: 0 1em 0 0;
  color: rgba(69,51,1,0.6);
  cursor: pointer;
  font-size: 8px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  background: rgba(255,255,255,0.3);
  border: solid #f9bc0d;
  border-width: 0 0 1px 0;
}
button.active {
  color: #000;
  background: rgba(255,255,255,0.5);
}
button:focus {
  outline: none;
}
button:hover {
  background: rgba(255,255,255,0.5);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
* {
  box-sizing: border-box;
}
.section-holder.during {
  width: 100%;
}
.section-holder.during .page-content {
  display: flex;
  flex-direction: column;
}
.section-holder.during .page-content section {
  display: block;
}
.section-holder.during .page-content section.stream {
  order: 2;
}
.section-holder.during .page-content section.other-data {
  order: 1;
}
.section-holder.during .page-content section.bottom-data {
  padding: 1em 1em 0 1em;
  font-size: 1.2em;
  display: none;
}
@media screen and ( min-width: 600px ) {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
  .section-holder.during {
    height: 100%;
  }
  .section-holder.during .page-content {
    height: calc(100% - 6em);
    flex-direction: row;
  }
  .section-holder.during .page-content section.stream {
    flex: 1 1 0;
    width: 50%;
    order: 1;
  }
  .section-holder.during .page-content section.other-data {
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 50%;
    flex: none;
    order: 2;
  }
  .section-holder.during .page-content section.bottom-data {
    flex: none;
    display: block;
  }
  .section-holder.during .page-content section.rank {
    display: block;
  }
  .section-holder.during .page-content section.jerseys {
    display: flex;
  }
}
@media screen and ( min-width: 1000px ) {
  .section-holder.during .page-content section.stream {
    flex: 1 1 0;
  }
  .section-holder.during .page-content section.other-data {
    flex: 2 2 0;
  }
}
@media screen and ( min-width: 1300px ) {
  .section-holder.during .page-content section.other-data {
    overflow: initial;
  }
  .section-holder.during .page-content section.bottom-data {
    display: flex;
    flex: 1 1 0;
    height: 100%;
  }
}
* {
  box-sizing: border-box;
}
.section-holder.after {
  width: 100%;
}
.section-holder.after .page-content {
  display: flex;
  flex-direction: column;
}
.section-holder.after .page-content section {
  display: block;
}
.section-holder.after .page-content section.stream {
  order: 2;
}
.section-holder.after .page-content section.news-data {
  order: 1;
}
.section-holder.after .page-content section.rank-data {
  display: none;
}
@media screen and ( min-width: 600px ) {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
  .section-holder.after {
    height: 100%;
  }
  .section-holder.after .page-content {
    height: calc(100% - 6em);
    flex-direction: row;
  }
  .section-holder.after .page-content section.stream {
    display: block;
    overflow: auto;
    flex: none;
    width: 33.3%;
    -webkit-overflow-scrolling: touch;
    order: 1;
  }
  .section-holder.after .page-content section.news-data {
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 33.3%;
    flex: none;
    order: 2;
  }
  .section-holder.after .page-content section.rank-data {
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 33.3%;
    flex: none;
    order: 3;
    padding: 1em 1em 0 1em;
    font-size: 1.2em;
  }
  .section-holder.after .page-content section.jerseys {
    display: flex;
  }
}
.flag {
  display: inline-block;
  width: 16px;
  height: 11px;
  margin: 0 1px 0 0;
  background: url("../images/flags.jpg") no-repeat 0 0;
}
.flag.flag-afg {
  background-position: 0 0;
}
.flag.flag-aho {
  background-position: -17px 0;
}
.flag.flag-alb {
  background-position: -34px 0;
}
.flag.flag-alg {
  background-position: -51px 0;
}
.flag.flag-and {
  background-position: -68px 0;
}
.flag.flag-ang {
  background-position: -85px 0;
}
.flag.flag-ant {
  background-position: -102px 0;
}
.flag.flag-arg {
  background-position: -119px 0;
}
.flag.flag-arm {
  background-position: -136px 0;
}
.flag.flag-aru {
  background-position: -153px 0;
}
.flag.flag-asa {
  background-position: -170px 0;
}
.flag.flag-aus {
  background-position: -187px 0;
}
.flag.flag-aut {
  background-position: -204px 0;
}
.flag.flag-aze {
  background-position: -221px 0;
}
.flag.flag-bah {
  background-position: -238px 0;
}
.flag.flag-ban {
  background-position: 0 -12px;
}
.flag.flag-bar {
  background-position: -17px -12px;
}
.flag.flag-bdi {
  background-position: -34px -12px;
}
.flag.flag-bel {
  background-position: -51px -12px;
}
.flag.flag-ben {
  background-position: -68px -12px;
}
.flag.flag-ber {
  background-position: -85px -12px;
}
.flag.flag-bhu {
  background-position: -102px -12px;
}
.flag.flag-bih {
  background-position: -119px -12px;
}
.flag.flag-biz {
  background-position: -136px -12px;
}
.flag.flag-blr {
  background-position: -153px -12px;
}
.flag.flag-bol {
  background-position: -170px -12px;
}
.flag.flag-bot {
  background-position: -187px -12px;
}
.flag.flag-bra {
  background-position: -204px -12px;
}
.flag.flag-brn {
  background-position: -221px -12px;
}
.flag.flag-bru {
  background-position: -238px -12px;
}
.flag.flag-bul {
  background-position: 0 -24px;
}
.flag.flag-bur {
  background-position: -17px -24px;
}
.flag.flag-caf {
  background-position: -34px -24px;
}
.flag.flag-cam {
  background-position: -51px -24px;
}
.flag.flag-can {
  background-position: -68px -24px;
}
.flag.flag-cay {
  background-position: -85px -24px;
}
.flag.flag-cgo {
  background-position: -102px -24px;
}
.flag.flag-cha {
  background-position: -119px -24px;
}
.flag.flag-chi {
  background-position: -136px -24px;
}
.flag.flag-chn {
  background-position: -153px -24px;
}
.flag.flag-civ {
  background-position: -170px -24px;
}
.flag.flag-cmr {
  background-position: -187px -24px;
}
.flag.flag-cod {
  background-position: -204px -24px;
}
.flag.flag-coi {
  background-position: -221px -24px;
}
.flag.flag-cok {
  background-position: -238px -24px;
}
.flag.flag-col {
  background-position: 0 -36px;
}
.flag.flag-com {
  background-position: -17px -36px;
}
.flag.flag-cpv {
  background-position: -34px -36px;
}
.flag.flag-crc {
  background-position: -51px -36px;
}
.flag.flag-cro {
  background-position: -68px -36px;
}
.flag.flag-cub {
  background-position: -85px -36px;
}
.flag.flag-cyp {
  background-position: -102px -36px;
}
.flag.flag-cze {
  background-position: -119px -36px;
}
.flag.flag-den {
  background-position: -136px -36px;
}
.flag.flag-dji {
  background-position: -153px -36px;
}
.flag.flag-dma {
  background-position: -170px -36px;
}
.flag.flag-dom {
  background-position: -187px -36px;
}
.flag.flag-ecu {
  background-position: -204px -36px;
}
.flag.flag-egy {
  background-position: -221px -36px;
}
.flag.flag-eri {
  background-position: -238px -36px;
}
.flag.flag-esa {
  background-position: 0 -48px;
}
.flag.flag-esp {
  background-position: -17px -48px;
}
.flag.flag-est {
  background-position: -34px -48px;
}
.flag.flag-eth {
  background-position: -51px -48px;
}
.flag.flag-fij {
  background-position: -68px -48px;
}
.flag.flag-fin {
  background-position: -85px -48px;
}
.flag.flag-fra {
  background-position: -102px -48px;
}
.flag.flag-fsm {
  background-position: -119px -48px;
}
.flag.flag-gab {
  background-position: -136px -48px;
}
.flag.flag-gam {
  background-position: -153px -48px;
}
.flag.flag-gbr {
  background-position: -170px -48px;
}
.flag.flag-gbs {
  background-position: -187px -48px;
}
.flag.flag-geo {
  background-position: -204px -48px;
}
.flag.flag-geq {
  background-position: -221px -48px;
}
.flag.flag-ger {
  background-position: -238px -48px;
}
.flag.flag-gha {
  background-position: 0 -60px;
}
.flag.flag-glp {
  background-position: -17px -60px;
}
.flag.flag-gre {
  background-position: -34px -60px;
}
.flag.flag-grn {
  background-position: -51px -60px;
}
.flag.flag-gua {
  background-position: -68px -60px;
}
.flag.flag-gui {
  background-position: -85px -60px;
}
.flag.flag-gum {
  background-position: -102px -60px;
}
.flag.flag-guy {
  background-position: -119px -60px;
}
.flag.flag-hai {
  background-position: -136px -60px;
}
.flag.flag-hkg {
  background-position: -153px -60px;
}
.flag.flag-hon {
  background-position: -170px -60px;
}
.flag.flag-hun {
  background-position: -187px -60px;
}
.flag.flag-ina {
  background-position: -204px -60px;
}
.flag.flag-ind {
  background-position: -221px -60px;
}
.flag.flag-iri {
  background-position: -238px -60px;
}
.flag.flag-irl {
  background-position: 0 -72px;
}
.flag.flag-irq {
  background-position: -17px -72px;
}
.flag.flag-isl {
  background-position: -34px -72px;
}
.flag.flag-isr {
  background-position: -51px -72px;
}
.flag.flag-isv {
  background-position: -68px -72px;
}
.flag.flag-ita {
  background-position: -85px -72px;
}
.flag.flag-ivb {
  background-position: -102px -72px;
}
.flag.flag-jam {
  background-position: -119px -72px;
}
.flag.flag-jor {
  background-position: -136px -72px;
}
.flag.flag-jpn {
  background-position: -153px -72px;
}
.flag.flag-kaz {
  background-position: -170px -72px;
}
.flag.flag-ken {
  background-position: -187px -72px;
}
.flag.flag-kgz {
  background-position: -204px -72px;
}
.flag.flag-kir {
  background-position: -221px -72px;
}
.flag.flag-kor {
  background-position: -238px -72px;
}
.flag.flag-ksa {
  background-position: 0 -84px;
}
.flag.flag-kuw {
  background-position: -17px -84px;
}
.flag.flag-lao {
  background-position: -34px -84px;
}
.flag.flag-lat {
  background-position: -51px -84px;
}
.flag.flag-lba {
  background-position: -68px -84px;
}
.flag.flag-lbr {
  background-position: -85px -84px;
}
.flag.flag-lca {
  background-position: -102px -84px;
}
.flag.flag-les {
  background-position: -119px -84px;
}
.flag.flag-lib {
  background-position: -136px -84px;
}
.flag.flag-lie {
  background-position: -153px -84px;
}
.flag.flag-lit {
  background-position: -170px -84px;
}
.flag.flag-ltu {
  background-position: -187px -84px;
}
.flag.flag-lux {
  background-position: -204px -84px;
}
.flag.flag-mad {
  background-position: -221px -84px;
}
.flag.flag-mar {
  background-position: -238px -84px;
}
.flag.flag-mas {
  background-position: 0 -96px;
}
.flag.flag-maw {
  background-position: -17px -96px;
}
.flag.flag-mda {
  background-position: -34px -96px;
}
.flag.flag-mdv {
  background-position: -51px -96px;
}
.flag.flag-mex {
  background-position: -68px -96px;
}
.flag.flag-mgl {
  background-position: -85px -96px;
}
.flag.flag-mhl {
  background-position: -102px -96px;
}
.flag.flag-mkd {
  background-position: -119px -96px;
}
.flag.flag-mli {
  background-position: -136px -96px;
}
.flag.flag-mlt {
  background-position: -153px -96px;
}
.flag.flag-mne {
  background-position: -170px -96px;
}
.flag.flag-mol {
  background-position: -187px -96px;
}
.flag.flag-mon {
  background-position: -204px -96px;
}
.flag.flag-moz {
  background-position: -221px -96px;
}
.flag.flag-mir {
  background-position: -238px -96px;
}
.flag.flag-mtn {
  background-position: 0 -108px;
}
.flag.flag-mya {
  background-position: -17px -108px;
}
.flag.flag-nam {
  background-position: -34px -108px;
}
.flag.flag-nca {
  background-position: -51px -108px;
}
.flag.flag-ned {
  background-position: -68px -108px;
}
.flag.flag-nep {
  background-position: -85px -108px;
}
.flag.flag-ngr {
  background-position: -102px -108px;
}
.flag.flag-nir {
  background-position: -119px -108px;
}
.flag.flag-nor {
  background-position: -136px -108px;
}
.flag.flag-nru {
  background-position: -153px -108px;
}
.flag.flag-nzl {
  background-position: -170px -108px;
}
.flag.flag-oma {
  background-position: -187px -108px;
}
.flag.flag-pak {
  background-position: -204px -108px;
}
.flag.flag-pan {
  background-position: -221px -108px;
}
.flag.flag-par {
  background-position: -238px -108px;
}
.flag.flag-per {
  background-position: 0 -120px;
}
.flag.flag-phi {
  background-position: -17px -120px;
}
.flag.flag-ple {
  background-position: -34px -120px;
}
.flag.flag-plw {
  background-position: -51px -120px;
}
.flag.flag-png {
  background-position: -68px -120px;
}
.flag.flag-pol {
  background-position: -85px -120px;
}
.flag.flag-por {
  background-position: -102px -120px;
}
.flag.flag-prk {
  background-position: -119px -120px;
}
.flag.flag-pur {
  background-position: -136px -120px;
}
.flag.flag-qat {
  background-position: -153px -120px;
}
.flag.flag-rom {
  background-position: -170px -120px;
}
.flag.flag-rsa {
  background-position: -187px -120px;
}
.flag.flag-rus {
  background-position: -204px -120px;
}
.flag.flag-rwa {
  background-position: -221px -120px;
}
.flag.flag-sam {
  background-position: -238px -120px;
}
.flag.flag-scg {
  background-position: 0 -132px;
}
.flag.flag-sen {
  background-position: -17px -132px;
}
.flag.flag-sey {
  background-position: -34px -132px;
}
.flag.flag-sin {
  background-position: -51px -132px;
}
.flag.flag-skn {
  background-position: -68px -132px;
}
.flag.flag-sle {
  background-position: -85px -132px;
}
.flag.flag-slo {
  background-position: -102px -132px;
}
.flag.flag-slv {
  background-position: -119px -132px;
}
.flag.flag-smr {
  background-position: -136px -132px;
}
.flag.flag-sol {
  background-position: -153px -132px;
}
.flag.flag-som {
  background-position: -170px -132px;
}
.flag.flag-srb {
  background-position: -187px -132px;
}
.flag.flag-sri {
  background-position: -204px -132px;
}
.flag.flag-stp {
  background-position: -221px -132px;
}
.flag.flag-sud {
  background-position: -238px -132px;
}
.flag.flag-sui {
  background-position: 0 -144px;
}
.flag.flag-sur {
  background-position: -17px -144px;
}
.flag.flag-svk {
  background-position: -34px -144px;
}
.flag.flag-swe {
  background-position: -51px -144px;
}
.flag.flag-swz {
  background-position: -68px -144px;
}
.flag.flag-syr {
  background-position: -85px -144px;
}
.flag.flag-tan {
  background-position: -102px -144px;
}
.flag.flag-tga {
  background-position: -119px -144px;
}
.flag.flag-tha {
  background-position: -136px -144px;
}
.flag.flag-tjk {
  background-position: -153px -144px;
}
.flag.flag-tkm {
  background-position: -170px -144px;
}
.flag.flag-tls {
  background-position: -187px -144px;
}
.flag.flag-tog {
  background-position: -204px -144px;
}
.flag.flag-tri {
  background-position: -221px -144px;
}
.flag.flag-tun {
  background-position: -238px -144px;
}
.flag.flag-tur {
  background-position: 0 -156px;
}
.flag.flag-tuv {
  background-position: -17px -156px;
}
.flag.flag-tpe {
  background-position: -34px -156px;
}
.flag.flag-twn {
  background-position: -34px -156px;
}
.flag.flag-uae {
  background-position: -51px -156px;
}
.flag.flag-uci {
  background-position: -68px -156px;
}
.flag.flag-uga {
  background-position: -85px -156px;
}
.flag.flag-ukr {
  background-position: -102px -156px;
}
.flag.flag-urs {
  background-position: -119px -156px;
}
.flag.flag-uru {
  background-position: -136px -156px;
}
.flag.flag-usa {
  background-position: -153px -156px;
}
.flag.flag-uzb {
  background-position: -170px -156px;
}
.flag.flag-van {
  background-position: -187px -156px;
}
.flag.flag-ven {
  background-position: -204px -156px;
}
.flag.flag-vie {
  background-position: -221px -156px;
}
.flag.flag-vin {
  background-position: -238px -156px;
}
.flag.flag-yem {
  background-position: 0 -168px;
}
.flag.flag-zam {
  background-position: -17px -168px;
}
.flag.flag-zim {
  background-position: -34px -168px;
}
header {
  height: 7.5em;
  background: rgba(255,255,255,0.5);
  padding: 0 1.5em;
  border-bottom: 1px solid #f9bc0d;
  position: relative;
}
header .logo {
  display: block;
  height: 3.5em;
  width: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4.7em;
}
header h1 span {
  display: block;
}
header h1 span.chapeau {
  font-size: 0.6em;
  margin: 0 0 0.5em;
  opacity: 0.6;
}
@media screen and ( min-width: 768px ) {
  header {
    height: 6em;
  }
  header h1 {
    font-size: 1.9em;
    left: 4em;
  }
}
header .options {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
@media screen and ( min-width: 1000px ) {
  header .options {
    display: block;
  }
}
.stream {
  font-size: 1.2em;
  line-height: 1.5;
  padding: 1em 0 0 0;
}
.stream blockquote {
  margin: 0 1em 1em;
  padding: 1em;
  background: rgba(255,255,255,0.3);
  border-bottom: 1px solid #f9bc0d;
}
.stream blockquote .entry {
  margin: 0 0 1em 0;
}
.stream blockquote figure {
  margin: 0 0 1em 0;
  display: block;
}
.stream blockquote figure img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #f9bc0d;
}
.stream blockquote .meta {
  font-size: 0.8em;
  opacity: 0.6;
}
@media screen and ( min-width: 600px ) {
  .stream {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.progress {
  padding: 1em 1em 0 1em;
  font-size: 1.2em;
}
@media screen and ( min-width: 1300px ) {
  .progress {
    display: flex;
  }
}
.progress figure {
  margin: 0 0 1em 0;
  padding: 1em;
  background: rgba(255,255,255,0.3);
  border-bottom: 1px solid #f9bc0d;
}
@media screen and ( min-width: 1300px ) {
  .progress figure {
    flex: 3 3 0;
    margin: 0;
  }
}
.progress .stats {
  display: flex;
  justify-content: center;
  margin: 0 0 1em 0;
}
.progress .stats .stat {
  flex: 1 1 0;
}
@media screen and ( min-width: 1000px ) {
  .progress .stats .stat {
    padding: 0 4em;
    flex: none;
  }
}
.progress .stats .stat h3 {
  font-size: 0.8em;
  margin: 0 0 0.5em;
  opacity: 0.6;
}
.progress .stats .stat p {
  font-size: 1.5em;
}
.progress .progress-profile {
  position: relative;
}
.progress .progress-profile .profile {
  display: block;
  width: 100%;
  height: auto;
}
.progress .progress-profile .progress-percentage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(255,255,255,0.2);
  border-right: 1px solid #f9bc0d;
  transition: 300ms width;
}
.progress .groups-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and ( min-width: 1000px ) {
  .progress .groups-wrapper {
    flex-direction: row;
  }
  .progress .groups-wrapper.no-riders .riders {
    display: none;
  }
}
@media screen and ( min-width: 1300px ) {
  .progress .groups-wrapper {
    flex: 2 2 0;
    flex-direction: column-reverse;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.progress .groups-wrapper .group {
  display: flex;
  margin: 0 0 1em;
  padding: 1em;
  background: rgba(255,255,255,0.3);
  border-bottom: 1px solid #f9bc0d;
}
.progress .groups-wrapper .group:last-child {
  margin: 0;
}
@media screen and ( min-width: 1000px ) {
  .progress .groups-wrapper .group {
    margin: 0 1em 0 0;
    flex: 1 1 0;
  }
  .progress .groups-wrapper .group:last-child {
    margin: 0 0 0;
  }
}
@media screen and ( min-width: 1300px ) {
  .progress .groups-wrapper .group {
    margin: 0 0 1em 1em;
    flex: none;
  }
  .progress .groups-wrapper .group:last-child {
    margin: 0 0 1em 1em;
  }
}
.progress .groups-wrapper .group .info {
  flex: 3 3 0;
}
.progress .groups-wrapper .group .info .delay,
.progress .groups-wrapper .group .info .kmcompleted {
  font-size: 1.5em;
  margin: 0 0 0.2em 0;
}
.progress .groups-wrapper .group .info h2 {
  font-size: 0.8em;
  margin: 0 0 0.6em;
  opacity: 0.6;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
.progress .groups-wrapper .group .info .jerseys {
  overflow: hidden;
}
.progress .groups-wrapper .group .info .jerseys .riders-no {
  font-size: 0.8em;
  opacity: 0.6;
  margin: 0 0 0 0.6em;
  line-height: 1;
  position: relative;
  top: 1px;
}
.progress .groups-wrapper .group .info .jerseys .jersey {
  width: 13px;
  height: 16px;
  background: url("/images/icons.png") 0 0;
  margin: 0 1px 0 0;
  background-size: 20px auto;
  float: left;
}
.progress .groups-wrapper .group .info .jerseys .jersey.y {
  background-position: center -529px;
}
.progress .groups-wrapper .group .info .jerseys .jersey.w {
  background-position: center -576px;
}
.progress .groups-wrapper .group .info .jerseys .jersey.g {
  background-position: center -545px;
}
.progress .groups-wrapper .group .info .jerseys .jersey.r {
  background-position: center -560px;
}
.progress .groups-wrapper .group .riders {
  flex: 4 4 0;
  max-height: 4.2em;
  overflow: auto;
}
.progress .groups-wrapper .group .riders .rider {
  margin: 0 0 0.1em;
  background: rgba(255,255,255,0.2);
  padding: 0.1em 0 0.2em 0.3em;
}
.progress .groups-wrapper .group .riders .rider h3,
.progress .groups-wrapper .group .riders .rider h4 {
  vertical-align: top;
  display: inline-block;
  font-size: 0.8em;
  line-height: 1;
}
.progress .groups-wrapper .group .riders .rider .flag {
  opacity: 0.6;
  position: relative;
  top: 2px;
}
.progress .groups-wrapper .group .riders .rider .name {
  text-transform: uppercase;
  margin: 0 0.2em 0 0;
}
.rank {
  overflow: auto;
  height: 25.7em;
  -webkit-overflow-scrolling: touch;
}
@media screen and ( min-width: 600px ) {
  .rank {
    height: auto;
    margin: 0 0 1em 0;
  }
}
@media screen and ( min-width: 1300px ) {
  .rank {
    height: calc(100% - 1em);
    margin: 0;
    flex: 2 2 0;
  }
}
.rank .switch-tables-wrapper {
  margin: 0 0 1em 0;
}
.rank table {
  font-size: 0.8em;
  border-collapse: collapse;
  width: 100%;
}
.rank table.climbers,
.rank table.sprinters,
.rank table.white {
  display: none;
}
.rank table tr {
  background: rgba(255,255,255,0.3);
  border-bottom: 1px solid #f9bc0d;
}
.rank table th {
  opacity: 0.6;
}
.rank table td,
.rank table th {
  padding: 0.7em 1em;
  text-align: left;
}
.rank table td .flag,
.rank table th .flag {
  position: relative;
  top: 0.2em;
  opacity: 0.8;
  margin: 0 0.7em 0 0;
}
.rank table td.team,
.rank table th.team {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
}
.rank table td.classification,
.rank table th.classification {
  width: 30px;
}
.rank table td.no,
.rank table th.no,
.rank table td.team,
.rank table th.team,
.rank table td.time,
.rank table th.time {
  display: none;
}
@media screen and ( min-width: 1000px ) {
  .rank table td.no,
  .rank table th.no,
  .rank table td.team,
  .rank table th.team,
  .rank table td.time,
  .rank table th.time {
    display: table-cell;
  }
}
.jerseys {
  display: flex;
  flex-wrap: wrap;
}
@media screen and ( min-width: 1000px ) {
  .jerseys {
    flex-wrap: nowrap;
  }
}
@media screen and ( min-width: 1300px ) {
  .jerseys {
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1 1 0;
  }
}
.jerseys .jersey-wrapper {
  padding: 1em;
  background: rgba(255,255,255,0.3);
  border-bottom: 1px solid #f9bc0d;
  margin: 0 0 1em 0;
  overflow: hidden;
  width: calc(50% - 0.5em);
}
.jerseys .jersey-wrapper:nth-child(even ) {
  margin: 0 0 1em 0.5em;
}
.jerseys .jersey-wrapper:nth-child(odd ) {
  margin: 0 0.5em 1em 0;
}
@media screen and ( min-width: 1000px ) {
  .jerseys .jersey-wrapper {
    margin: 0 1em 1em 0;
  }
  .jerseys .jersey-wrapper:nth-child(even ),
  .jerseys .jersey-wrapper:nth-child(odd ) {
    margin: 0 1em 1em 0;
  }
  .jerseys .jersey-wrapper:last-child {
    margin: 0 0 1em 0;
  }
}
@media screen and ( min-width: 1300px ) {
  .jerseys .jersey-wrapper {
    margin: 0 0 1em 0;
    max-height: 6em;
    width: calc(100% - 1em);
  }
  .jerseys .jersey-wrapper:nth-child(even ),
  .jerseys .jersey-wrapper:last-child,
  .jerseys .jersey-wrapper:nth-child(odd ) {
    margin: 0 0 1em 0;
  }
}
.jerseys .jersey-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  width: 3em;
}
.jerseys .jersey-wrapper img.profile {
  width: 3.5em;
  margin: 0 0 0 1em;
  border: 1px solid #f9bc0d;
  display: none;
}
@media screen and ( min-width: 1300px ) {
  .jerseys .jersey-wrapper img.profile {
    display: block;
  }
}
.jerseys .jersey-wrapper figcaption {
  float: left;
  padding: 0 0 0 1em;
  width: calc(100% - 3em);
}
@media screen and ( min-width: 1300px ) {
  .jerseys .jersey-wrapper figcaption {
    width: calc(100% - 8em);
  }
}
.jerseys .jersey-wrapper figcaption h4 {
  font-size: 1em;
  text-transform: uppercase;
  opacity: 0.6;
  margin: 0 0 0.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.jerseys .jersey-wrapper figcaption p {
  font-size: 0.8em;
  margin: 0 0 0.4em;
}
.jerseys .jersey-wrapper figcaption p:last-child {
  margin: 0;
}
section.afternews,
section.interviews {
  padding: 1em;
}
section.afternews article,
section.interviews article {
  display: block;
  margin: 0 0 1em 0;
  padding: 1em;
  background: rgba(255,255,255,0.3);
  border-bottom: 1px solid #f9bc0d;
}
section.afternews article:last-child,
section.interviews article:last-child {
  margin: 0;
}
section.afternews article h1,
section.interviews article h1 {
  text-transform: uppercase;
  font-size: 1.4em;
  opacity: 0.6;
  margin: 0 0 1em;
}
section.afternews article p,
section.interviews article p {
  line-height: 1.5;
  margin: 0 0 1em;
  font-size: 1.2em;
}
section.afternews article p:last-child,
section.interviews article p:last-child {
  margin: 0;
}
