@import 'text'
@import 'layout_during'
@import 'layout_after'

// components
@import 'components/flags'
@import 'components/header'
@import 'components/stream'
@import 'components/progress'
@import 'components/rank'
@import 'components/jerseys'
@import 'components/afterNewsInterviews'
@import 'components/photos'