section.afternews
section.interviews
  padding: 1em

  article
    display: block
    margin: 0 0 1em 0
    padding: 1em
    background: rgba( #fff, .3 )
    border-bottom: 1px solid #f9bc0d
    
    &:last-child
      margin: 0
    
    h1
      text-transform: uppercase
      font-size: 1.4em
      opacity: 0.6
      margin: 0 0 1em
      
    p
      line-height: 1.5
      margin: 0 0 1em
      font-size: 1.2em
      
      &:last-child
        margin: 0