.flag
  display: inline-block
  width: 16px
  height: 11px
  margin: 0 1px 0 0
  background: url( "../images/flags.jpg" ) no-repeat 0 0

  &.flag-afg
    background-position: 0 0
  &.flag-aho
    background-position: -17px 0
  &.flag-alb
    background-position: -34px 0
  &.flag-alg
    background-position: -51px 0
  &.flag-and
    background-position: -68px 0
  &.flag-ang
    background-position: -85px 0
  &.flag-ant
    background-position: -102px 0
  &.flag-arg
    background-position: -119px 0
  &.flag-arm
    background-position: -136px 0
  &.flag-aru
    background-position: -153px 0
  &.flag-asa
    background-position: -170px 0
  &.flag-aus
    background-position: -187px 0
  &.flag-aut
    background-position: -204px 0
  &.flag-aze
    background-position: -221px 0
  &.flag-bah
    background-position: -238px 0
  &.flag-ban
    background-position: 0 -12px
  &.flag-bar
    background-position: -17px -12px
  &.flag-bdi
    background-position: -34px -12px
  &.flag-bel
    background-position: -51px -12px
  &.flag-ben
    background-position: -68px -12px
  &.flag-ber
    background-position: -85px -12px
  &.flag-bhu
    background-position: -102px -12px
  &.flag-bih
    background-position: -119px -12px
  &.flag-biz
    background-position: -136px -12px
  &.flag-blr
    background-position: -153px -12px
  &.flag-bol
    background-position: -170px -12px
  &.flag-bot
    background-position: -187px -12px
  &.flag-bra
    background-position: -204px -12px
  &.flag-brn
    background-position: -221px -12px
  &.flag-bru
    background-position: -238px -12px
  &.flag-bul
    background-position: 0 -24px
  &.flag-bur
    background-position: -17px -24px
  &.flag-caf
    background-position: -34px -24px
  &.flag-cam
    background-position: -51px -24px
  &.flag-can
    background-position: -68px -24px
  &.flag-cay
    background-position: -85px -24px
  &.flag-cgo
    background-position: -102px -24px
  &.flag-cha
    background-position: -119px -24px
  &.flag-chi
    background-position: -136px -24px
  &.flag-chn
    background-position: -153px -24px
  &.flag-civ
    background-position: -170px -24px
  &.flag-cmr
    background-position: -187px -24px
  &.flag-cod
    background-position: -204px -24px
  &.flag-coi
    background-position: -221px -24px
  &.flag-cok
    background-position: -238px -24px
  &.flag-col
    background-position: 0 -36px
  &.flag-com
    background-position: -17px -36px
  &.flag-cpv
    background-position: -34px -36px
  &.flag-crc
    background-position: -51px -36px
  &.flag-cro
    background-position: -68px -36px
  &.flag-cub
    background-position: -85px -36px
  &.flag-cyp
    background-position: -102px -36px
  &.flag-cze
    background-position: -119px -36px
  &.flag-den
    background-position: -136px -36px
  &.flag-dji
    background-position: -153px -36px
  &.flag-dma
    background-position: -170px -36px
  &.flag-dom
    background-position: -187px -36px
  &.flag-ecu
    background-position: -204px -36px
  &.flag-egy
    background-position: -221px -36px
  &.flag-eri
    background-position: -238px -36px
  &.flag-esa
    background-position: 0 -48px
  &.flag-esp
    background-position: -17px -48px
  &.flag-est
    background-position: -34px -48px
  &.flag-eth
    background-position: -51px -48px
  &.flag-fij
    background-position: -68px -48px
  &.flag-fin
    background-position: -85px -48px
  &.flag-fra
    background-position: -102px -48px
  &.flag-fsm
    background-position: -119px -48px
  &.flag-gab
    background-position: -136px -48px
  &.flag-gam
    background-position: -153px -48px
  &.flag-gbr
    background-position: -170px -48px
  &.flag-gbs
    background-position: -187px -48px
  &.flag-geo
    background-position: -204px -48px
  &.flag-geq
    background-position: -221px -48px
  &.flag-ger
    background-position: -238px -48px
  &.flag-gha
    background-position: 0 -60px
  &.flag-glp
    background-position: -17px -60px
  &.flag-gre
    background-position: -34px -60px
  &.flag-grn
    background-position: -51px -60px
  &.flag-gua
    background-position: -68px -60px
  &.flag-gui
    background-position: -85px -60px
  &.flag-gum
    background-position: -102px -60px
  &.flag-guy
    background-position: -119px -60px
  &.flag-hai
    background-position: -136px -60px
  &.flag-hkg
    background-position: -153px -60px
  &.flag-hon
    background-position: -170px -60px
  &.flag-hun
    background-position: -187px -60px
  &.flag-ina
    background-position: -204px -60px
  &.flag-ind
    background-position: -221px -60px
  &.flag-iri
    background-position: -238px -60px
  &.flag-irl
    background-position: 0 -72px
  &.flag-irq
    background-position: -17px -72px
  &.flag-isl
    background-position: -34px -72px
  &.flag-isr
    background-position: -51px -72px
  &.flag-isv
    background-position: -68px -72px
  &.flag-ita
    background-position: -85px -72px
  &.flag-ivb
    background-position: -102px -72px
  &.flag-jam
    background-position: -119px -72px
  &.flag-jor
    background-position: -136px -72px
  &.flag-jpn
    background-position: -153px -72px
  &.flag-kaz
    background-position: -170px -72px
  &.flag-ken
    background-position: -187px -72px
  &.flag-kgz
    background-position: -204px -72px
  &.flag-kir
    background-position: -221px -72px
  &.flag-kor
    background-position: -238px -72px
  &.flag-ksa
    background-position: 0 -84px
  &.flag-kuw
    background-position: -17px -84px
  &.flag-lao
    background-position: -34px -84px
  &.flag-lat
    background-position: -51px -84px
  &.flag-lba
    background-position: -68px -84px
  &.flag-lbr
    background-position: -85px -84px
  &.flag-lca
    background-position: -102px -84px
  &.flag-les
    background-position: -119px -84px
  &.flag-lib
    background-position: -136px -84px
  &.flag-lie
    background-position: -153px -84px
  &.flag-lit
    background-position: -170px -84px
  &.flag-ltu
    background-position: -187px -84px
  &.flag-lux
    background-position: -204px -84px
  &.flag-mad
    background-position: -221px -84px
  &.flag-mar
    background-position: -238px -84px
  &.flag-mas
    background-position: 0 -96px
  &.flag-maw
    background-position: -17px -96px
  &.flag-mda
    background-position: -34px -96px
  &.flag-mdv
    background-position: -51px -96px
  &.flag-mex
    background-position: -68px -96px
  &.flag-mgl
    background-position: -85px -96px
  &.flag-mhl
    background-position: -102px -96px
  &.flag-mkd
    background-position: -119px -96px
  &.flag-mli
    background-position: -136px -96px
  &.flag-mlt
    background-position: -153px -96px
  &.flag-mne
    background-position: -170px -96px
  &.flag-mol
    background-position: -187px -96px
  &.flag-mon
    background-position: -204px -96px
  &.flag-moz
    background-position: -221px -96px
  &.flag-mir
    background-position: -238px -96px
  &.flag-mtn
    background-position: 0 -108px
  &.flag-mya
    background-position: -17px -108px
  &.flag-nam
    background-position: -34px -108px
  &.flag-nca
    background-position: -51px -108px
  &.flag-ned
    background-position: -68px -108px
  &.flag-nep
    background-position: -85px -108px
  &.flag-ngr
    background-position: -102px -108px
  &.flag-nir
    background-position: -119px -108px
  &.flag-nor
    background-position: -136px -108px
  &.flag-nru
    background-position: -153px -108px
  &.flag-nzl
    background-position: -170px -108px
  &.flag-oma
    background-position: -187px -108px
  &.flag-pak
    background-position: -204px -108px
  &.flag-pan
    background-position: -221px -108px
  &.flag-par
    background-position: -238px -108px
  &.flag-per
    background-position: 0 -120px
  &.flag-phi
    background-position: -17px -120px
  &.flag-ple
    background-position: -34px -120px
  &.flag-plw
    background-position: -51px -120px
  &.flag-png
    background-position: -68px -120px
  &.flag-pol
    background-position: -85px -120px
  &.flag-por
    background-position: -102px -120px
  &.flag-prk
    background-position: -119px -120px
  &.flag-pur
    background-position: -136px -120px
  &.flag-qat
    background-position: -153px -120px
  &.flag-rom
    background-position: -170px -120px
  &.flag-rsa
    background-position: -187px -120px
  &.flag-rus
    background-position: -204px -120px
  &.flag-rwa
    background-position: -221px -120px
  &.flag-sam
    background-position: -238px -120px
  &.flag-scg
    background-position: 0 -132px
  &.flag-sen
    background-position: -17px -132px
  &.flag-sey
    background-position: -34px -132px
  &.flag-sin
    background-position: -51px -132px
  &.flag-skn
    background-position: -68px -132px
  &.flag-sle
    background-position: -85px -132px
  &.flag-slo
    background-position: -102px -132px
  &.flag-slv
    background-position: -119px -132px
  &.flag-smr
    background-position: -136px -132px
  &.flag-sol
    background-position: -153px -132px
  &.flag-som
    background-position: -170px -132px
  &.flag-srb
    background-position: -187px -132px
  &.flag-sri
    background-position: -204px -132px
  &.flag-stp
    background-position: -221px -132px
  &.flag-sud
    background-position: -238px -132px
  &.flag-sui
    background-position: 0 -144px
  &.flag-sur
    background-position: -17px -144px
  &.flag-svk
    background-position: -34px -144px
  &.flag-swe
    background-position: -51px -144px
  &.flag-swz
    background-position: -68px -144px
  &.flag-syr
    background-position: -85px -144px
  &.flag-tan
    background-position: -102px -144px
  &.flag-tga
    background-position: -119px -144px
  &.flag-tha
    background-position: -136px -144px
  &.flag-tjk
    background-position: -153px -144px
  &.flag-tkm
    background-position: -170px -144px
  &.flag-tls
    background-position: -187px -144px
  &.flag-tog
    background-position: -204px -144px
  &.flag-tri
    background-position: -221px -144px
  &.flag-tun
    background-position: -238px -144px
  &.flag-tur
    background-position: 0 -156px
  &.flag-tuv
    background-position: -17px -156px
  &.flag-tpe
    background-position: -34px -156px
  &.flag-twn
    background-position: -34px -156px
  &.flag-uae
    background-position: -51px -156px
  &.flag-uci
    background-position: -68px -156px
  &.flag-uga
    background-position: -85px -156px
  &.flag-ukr
    background-position: -102px -156px
  &.flag-urs
    background-position: -119px -156px
  &.flag-uru
    background-position: -136px -156px
  &.flag-usa
    background-position: -153px -156px
  &.flag-uzb
    background-position: -170px -156px
  &.flag-van
    background-position: -187px -156px
  &.flag-ven
    background-position: -204px -156px
  &.flag-vie
    background-position: -221px -156px
  &.flag-vin
    background-position: -238px -156px
  &.flag-yem
    background-position: 0 -168px
  &.flag-zam
    background-position: -17px -168px
  &.flag-zim
    background-position: -34px -168px