.map

  #news
    display: block
    height: 100px
    width: 100%
    position: fixed
    z-index: 1
    left: 0
    bottom: 0
    border-top: 1px solid #f9bc0d
    background: rgba( #fff, 0.35 )
    
    .news-banner-frame
      width: 100%
      position: relative
      font-size: 0
      line-height: 0
      overflow: hidden
      white-space: nowrap
      cursor: grab
      cursor: -webkit-grab
      vertical-align: top

      .news-banner-slides
        vertical-align: top
        display: inline-block
        position: relative
        width: 100%
        padding: 0
        margin: 0
        list-style: none
      
        .news-banner-slide
          position: relative
          display: inline-block
          width: 100%
          font-size: 10px
          white-space: normal
          height: 120px

          @media screen and ( min-width: 500px )
            width: 50%
          
          @media screen and ( min-width: 800px )
            width: 33.3%

          @media screen and ( min-width: 1300px )
            width: 25%
                  
          article
            background: rgba( #fff, 0.4 )
            padding: 1em
            margin: 1em 0.5em
            height: 80px
            overflow: auto

            h1
              font-size: 1.1em
              color: rgba( #000, 0.6 )
              margin: 0 0 0.6em
            
            p
              font-size: 1em
              line-height: 1.3

  .map-banner
    display: none
    height: 3em
    background: rgba( #fff, 0.35 )
    border-bottom: 1px solid #fac018
    
    @media screen and ( min-width: 768px )
      justify-content: flex-start
      display: flex

    &.active
      .banner-stat
        opacity: 1
    p
      line-height: 3em
      font-size: 1em
      text-transform: uppercase
      color: rgba( #000, 0.6 )
      margin: 0 0 0 2em
      
      &.banner-stat
        opacity: 0

  #map
  .map-window-holder
    position: absolute
    top: 75px
    left: 0
    height: calc( 100% - 175px )
    width: 100%
     
    @media screen and ( min-width: 768px )
      height: calc( 100% - 190px )
      top: 90px
    
  .map-window-holder
    display: none
    width: 100%
    left: auto
    right: 0
    background: rgba( #fff, 0.9 )
    border: none
    overflow: auto
    background: lighten( #f9bc0d, 35 )
    font-size: 1em
    
    @media screen and ( min-width: 800px )
      background: rgba( lighten( #f9bc0d, 35 ), 0.9 )
      width: 450px
      height: auto
      max-height: 450px
      left: 50%
      right: auto
      top: 50%
      transform: translate( -50%, -50% )
      position: absolute
      box-shadow: 0 0 20px rgba( #000, .2 )

    &.active
      display: block
          
    .close-window
      position: absolute
      right: 1em
      top 1em
      margin: 0
      background: rgba( #f9bc0d, 0.25 )
      
    .map-window
      h1
        text-transform: uppercase
        color: rgba( #000, 0.6 )
        margin: 0 0 1em 0
        background: rgba( #fff, 0.6 )
        border-bottom: 1px solid rgba( #f9bc0d, 0.5 )
        padding: 0.5em
        
    .riders-points
      background: rgba( #fff, 0.4 )
      border-bottom: 1px solid rgba( #f9bc0d, 0.5 )
      padding: 1em
      margin: 1em
      overflow: hidden
      list-style: none
      
      li
        background: rgba( #fff, 0.4 )
        border-bottom: 1px solid #f9bc0d
        padding: 1em
        margin: 0
    
    .riders
      @media screen and ( min-width: 800px )
        display: flex
        flex-wrap: wrap
        justify-content: flex-start

    .stats
    .times
    .riders
    .jerseys
      background: rgba( #fff, 0.4 )
      border-bottom: 1px solid rgba( #f9bc0d, 0.5 )
      padding: 1em
      margin: 1em
      overflow: hidden
      list-style: none
      
      @media screen and ( min-width: 800px )
        display: flex
        flex-wrap: wrap
        justify-content: space-around
      
      .stat-wrapper
      .time-wrapper
        width: 50%
        float: left
        margin: 0 0 1.5em 0
        
        @media screen and ( min-width: 800px )
          width: auto
          float: none
          margin: 0

        &:nth-child( 3 )
        &:last-child
          margin: 0
        
        .title
          display: block
          text-transform: uppercase
          font-size: 0.8em
          color: rgba( #000, 0.6 );
          margin: 0 0 0.2em 0
        
        .content
          display: block
          font-size: 2.5em
      
      li
        background: rgba( #fff, 0.4 )
        border-bottom: 1px solid #f9bc0d
        padding: 0
        margin: 0 0 .5em 0
        overflow: hidden
        
        @media screen and ( min-width: 800px )
          width: 50%
          
          &:nth-child(2n)
            width: calc( 50% - 1em )
        
        img
          display: block
          margin: 0 .5em 0 0
          width: 4em
          height: 4em
          float: left
          
        .name
          display: block
          text-transform: uppercase
          margin: 6px 0 0 0
          font-size: 0.9em
          
          .flag
            margin: 0 4px 0 0
            position: relative
            top: 1px
        
        .team
          display: block
          font-size: 0.9em
          color: rgba( #000, 0.6 )
          margin: 5px 0 0 0