.map

  .map-banner
    display: none
    height: 3em
    background: rgba( #fff, 0.35 )
    border-bottom: 1px solid #fac018
    position: relative
    
    @media screen and ( min-width: 768px )
      justify-content: flex-start
      display: flex

    &.active
      .banner-stat
        opacity: 1
    p
      line-height: 3em
      font-size: 1em
      text-transform: uppercase
      color: rgba( #000, 0.6 )
      margin: 0 0 0 2em
      
      &.banner-stat
        opacity: 0
    
    .options
      position: absolute
      right: 1em
      top: 50%
      transform: translateY( -50% )
      
      button
        margin: 0 0 0 1em

  #map
  .map-window-holder
    position: absolute
    top: 75px
    left: 0
    height: calc( 100% - 75px )
    width: 100%
     
    @media screen and ( min-width: 768px )
      height: calc( 100% - 90px )
      top: 90px
    
  .map-window-holder
    display: none
    width: 100%
    left: auto
    right: 0
    background: rgba( #fff, 0.9 )
    border: none
    overflow: auto
    background: lighten( #f9bc0d, 35 )
    font-size: 1em
    
    @media screen and ( min-width: 800px )
      background: rgba( lighten( #f9bc0d, 35 ), 0.9 )
      width: 450px
      height: auto
      max-height: 450px
      left: 50%
      right: auto
      top: 50%
      transform: translate( -50%, -50% )
      position: absolute
      box-shadow: 0 0 20px rgba( #000, .2 )

    &.active
      display: block
          
    .close-window
      position: absolute
      right: 1em
      top 1em
      margin: 0
      background: rgba( #f9bc0d, 0.25 )
      
    .map-window
      h1
        text-transform: uppercase
        color: rgba( #000, 0.6 )
        margin: 0 0 1em 0
        background: rgba( #fff, 0.6 )
        border-bottom: 1px solid rgba( #f9bc0d, 0.5 )
        padding: 0.5em
        
    .riders-points
      background: rgba( #fff, 0.4 )
      border-bottom: 1px solid rgba( #f9bc0d, 0.5 )
      padding: 1em
      margin: 1em
      overflow: hidden
      list-style: none
      
      li
        background: rgba( #fff, 0.4 )
        border-bottom: 1px solid #f9bc0d
        padding: 1em
        margin: 0
    
    .riders
      @media screen and ( min-width: 800px )
        display: flex
        flex-wrap: wrap
        justify-content: flex-start

    .stats
    .times
    .riders
    .jerseys
      background: rgba( #fff, 0.4 )
      border-bottom: 1px solid rgba( #f9bc0d, 0.5 )
      padding: 1em
      margin: 1em
      overflow: hidden
      list-style: none
      
      @media screen and ( min-width: 800px )
        display: flex
        flex-wrap: wrap
        justify-content: space-around
      
      .stat-wrapper
      .time-wrapper
        width: 50%
        float: left
        margin: 0 0 1.5em 0
        
        @media screen and ( min-width: 800px )
          width: auto
          float: none
          margin: 0

        &:nth-child( 3 )
        &:last-child
          margin: 0
        
        .title
          display: block
          text-transform: uppercase
          font-size: 0.8em
          color: rgba( #000, 0.6 );
          margin: 0 0 0.2em 0
        
        .content
          display: block
          font-size: 2.5em
      
      li
        background: rgba( #fff, 0.4 )
        border-bottom: 1px solid #f9bc0d
        padding: 0
        margin: 0 0 .5em 0
        overflow: hidden
        
        @media screen and ( min-width: 800px )
          width: 50%
          
          &:nth-child(2n)
            width: calc( 50% - 1em )
        
        img
          display: block
          margin: 0 .5em 0 0
          width: 4em
          height: 4em
          float: left
          
        .name
          display: block
          text-transform: uppercase
          margin: 6px 0 0 0
          font-size: 0.9em
          
          .flag
            margin: 0 4px 0 0
            position: relative
            top: 1px
        
        .team
          display: block
          font-size: 0.9em
          color: rgba( #000, 0.6 )
          margin: 5px 0 0 0

  #news-sidebar-holder
  #groups-sidebar-holder
    display: none
    position: absolute
    top: 90px
    right: 0
    height: calc( 100% - 90px )
    width: 320px
    background: rgba( #f9bc0d, 0.9 )
    border-left: 1px solid #f9bc0d
    overflow: auto
    padding: 1em 0 0 0
    
    &.active
      display: block
    
    .map-sidebar-group
      padding: 1em
      margin: 0 1em 1em
      background: rgba( #fff, .3 )
      border-bottom: 1px solid #f9bc0d
      
      h2
        font-size: 1.2em
        text-transform: uppercase
        color: rgba( #000, 0.6 )
        margin: 0 0 1em
        
        .group-jerseys
          float: right
          
          img
            width: 13px
            height: auto
            margin: 0 0 0 0.5em
            position: relative
            top: -1px
        
      p
        font-size: 1em
        margin: 0 0 .5em
      
      .stats
        margin: 0 0 1em 0
        
      .riders
        list-style: none
        margin: 0
        padding: 0
        
        li
          line-height: 1
          background: rgba( 255, 255, 255, 0.3 )
          border-bottom: 1px solid #f9bc0d
          padding: .3em .5em .5em
          overflow: hidden
          position: relative
          
          .flag
            margin: 0 0.5em 0 0
            position: relative
            top: 2px
          
          .name
            float: left
          
          .place
            float: right
            position: relative
            top: 2px

    blockquote
      margin: 0 1em 1em
      padding: 1em
      background: rgba( #fff, .3 )
      border-bottom: 1px solid #f9bc0d
      font-size: 1.2em
      line-height: 1.5
      
      &:hover
        button.share
          opacity: 1
          
      button.share
        float: right
        margin: 0
        opacity: 0
        transition: opacity 300ms
      
      .title
        color: rgba( #000, 0.6 )
        text-transform: uppercase
        margin: 0 0 0.5em 0
    
      .desc
        font-size: 0.9em
        margin: 0
        
      .meta
        font-size: 0.8em
        color: rgba( #000, 0.6 )
        
        a
          color: rgba( #000, 0.6 )