.progress
  padding: 1em 1em 0 1em
  font-size: 1.2em
  
  @media screen and ( min-width: 1300px )
    display: flex
  
  figure
    margin: 0 0 1em 0
    padding: 1em
    background: rgba( #fff, .3 )
    border-bottom: 1px solid #f9bc0d
    
    @media screen and ( min-width: 1300px )
      flex: 3 3 0
      margin: 0
  
  .stats
    display: flex
    justify-content: center
    margin: 0 0 1em 0
    
    .stat
      flex: 1 1 0
    
      @media screen and ( min-width: 1000px )
        padding: 0 4em
        flex: none
      
      h3
        font-size: 0.8em
        margin: 0 0 0.5em
        opacity: 0.6
      
      p
        font-size: 1.5em

  .progress-profile
    position: relative
    
    .profile
      display: block
      width: 100%
      height: auto
    
    .progress-percentage
      position: absolute
      top: 0
      left: 0
      height: 100%
      background: rgba( 255, 255, 255, 0.2 )
      border-right: 1px solid #f9bc0d
      transition: 300ms width
  
  .groups-wrapper
    display: flex
    flex-direction: column
    
    @media screen and ( min-width: 1000px )
      flex-direction: row-reverse
      overflow: auto
      padding: 0 0 1em 0

    @media screen and ( min-width: 1300px )
      flex: 2 2 0
      flex-direction: column
      overflow: auto
      -webkit-overflow-scrolling: touch
      height: 0
      padding: 0
      
    .group
      margin: 0 0 1em
      padding: 1em
      background: rgba( #fff, .3 )
      border-bottom: 1px solid #f9bc0d
    
      @media screen and ( min-width: 1000px )
        margin: 0 1em 0 0
        flex: 1 1 0
        //align-self: center
    
        &:first-child
          margin-right: 0

      @media screen and ( min-width: 1300px )
        margin: 0 0 1em 1em
        flex: none
        align-self: initial

        &:last-child
          margin: 0 0 0 1em
      
      .info
        margin: 0
        display: flex
        justify-content: space-between
        
        h2
          font-size: 1em
          margin: 0 1em 0 0
          opacity: 0.6
          text-transform: uppercase
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          max-width: 250px
        
        .jerseys
          overflow: hidden
          
          .riders-no
            font-size: 0.8em
            opacity: 0.6
            margin: 0 0 0 0.6em
            line-height: 1
            position: relative
            top: 1px

          .jersey
            width: 13px
            height: 16px
            background: url( '/images/icons.png' ) 0 0
            margin: 0 1px 0 0
            background-size: 20px auto
            float: left

            &.y
              background-position: center -529px

            &.w
              background-position: center -576px

            &.g
              background-position: center -545px

            &.r
              background-position: center -560px
      
      .riders
        overflow: auto
        margin: 0.5em 0 0 0
        
        @media screen and ( min-width: 1000px )
          max-height: 4.2em
        
        @media screen and ( min-width: 1300px )
          max-height: none
        
        .rider
          margin: 0 0 0.1em
          background: rgba( #fff, .2 )
          padding: 0.1em 0 0.2em 0.3em
          
          h3
          h4
            vertical-align: top
            display: block
            font-size: 0.8em
            line-height: 1
          
          .flag
            opacity: 0.6
            position: relative
            top: 2px
          
          .name
            text-transform: uppercase
            margin: 0 0.2em 0 0
          
          .behind
            float: right;
            margin: 2px 6px 0 0
            
            @media screen and ( min-width: 1000px )
              display: none
            
            @media screen and ( min-width: 1300px )
              display: block
          
          &[data-lang="ned"] h3 .name
            font-weight: 700
