.rank
  overflow: auto
  height: 25.7em
  -webkit-overflow-scrolling: touch
  
  @media screen and ( min-width: 600px )
    height: auto
    margin: 0 0 1em 0

  @media screen and ( min-width: 1300px )
    .during &
      height: calc( 100% - 1em )
      margin: 0
      flex: 2 2 0

  .switch-tables-wrapper
    margin: 0 0 1em 0 
  
  table
    font-size: .8em
    border-collapse: collapse
    width: 100%
    
    &.climbers
    &.sprinters
    &.white
      display: none
    
    tr
      background: rgba( #fff, .3 )
      border-bottom: 1px solid #f9bc0d
      
      &[data-lang="ned"]
        background: rgba( #fff, .4 )
        
        .rider
          font-weight: 700

    th
      opacity: 0.6

    td
    th
      padding: 0.7em 1em
      text-align: left
      
      .flag
        position: relative
        top: 0.2em
        opacity: 0.8
        margin: 0 0.7em 0 0
        
      &.rider
      &.team
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        max-width: 120px
      
      &.classification
        width: 30px

      &.no
      &.team
      &.time
        display: none
      
      @media screen and ( min-width: 1000px )
        &.no
        &.team
        &.time
          display: table-cell
          
        .rest &
          &.no
          &.team
          &.time
            display: none
          
      @media screen and ( min-width: 1400px )
        .rest &
          &.no
          &.team
          &.time
            display: table-cell
