.stream
  font-size: 1.2em
  line-height: 1.5
  padding: 1em 0 0 0  
  column-count: 1
  column-gap: 1em

  .rest &
  .no-tour &
    overflow: auto
    padding: 1em
    
  blockquote
    margin: 0 1em 1em
    padding: 1em
    background: rgba( #fff, .3 )
    border-bottom: 1px solid #f9bc0d
    
    .rest & 
    .no-tour &
      display: inline-block
      margin: 0 0 1em
      width: 100%
    
    .entry
      margin: 0 0 1em 0
      
    figure
      margin: 0 0 1em 0
      display: block
      
      .media-wrapper.iframe
        position: relative
        padding-bottom: 56.25%
        height: 0
        
        iframe
          position: absolute
          top: 0
          left: 0
          height: 100%
          width: 100%
          border: 1px solid #f9bc0d
      
      img
      video
        width: 100%
        height: auto
        display: block
        border: 1px solid #f9bc0d
    
    .title
      color: rgba( #000, 0.6 )
      text-transform: uppercase
      margin: 0 0 0.5em 0
  
    .desc
      font-size: 0.9em
      margin: 0
      
    .meta
      font-size: 0.8em
      color: rgba( #000, 0.6 )

  @media screen and ( min-width: 450px )
    column-count: 2
    padding: 1em
    
    blockquote
      margin: 0 0 1em 0

  @media screen and ( min-width: 600px )
    overflow: auto
    -webkit-overflow-scrolling: touch
    column-count: 1
    
    .no-tour &
      column-count: 2

  @media screen and ( min-width: 1000px )
    .no-tour &
      column-count: 3

  @media screen and ( min-width: 1000px )
    .rest &
    .no-tour &
      column-count: 3
  
  @media screen and ( min-width: 1300px )
    .rest &
    .no-tour &
      column-count: 4