.stream
  font-size: 1.2em
  line-height: 1.5
  padding: 1em 0 0 0
  
  .grid-sizer
    display: none
  
  .rest &
    overflow: auto
    padding: 1em 0 0 1em
    
    .grid-sizer
      width: 32%

  blockquote
    margin: 0 1em 1em
    padding: 1em
    background: rgba( #fff, .3 )
    border-bottom: 1px solid #f9bc0d
    
    .rest &
      width: 32%
      margin: 0 0 10px 0
  
    .entry
      margin: 0 0 1em 0

    figure
      margin: 0 0 1em 0
      display: block
      
      img
        width: 100%
        height: auto
        display: block
        border: 1px solid #f9bc0d

    
    .meta
      font-size: 0.8em
      opacity: 0.6
  
  @media screen and ( min-width: 600px )
    overflow: auto
    -webkit-overflow-scrolling: touch