.tomorrow
  margin: 0 0 1em 0
  padding: 1em
  background: rgba( #fff, .3 )
  border-bottom: 1px solid #f9bc0d
  
  h1
    font-size: 1.5em
    text-transform: uppercase
    line-height: 1
    margin: 0 0 1em 0
    
    span
      display: block
      
      &.chapeau
        font-size: 0.6em
        margin: 0 0 0.5em
        opacity: 0.6
        
  img
    display: block
    border: 1px solid #f9bc0d
    width: 100%
    height: auto
    
    &.profile
      border: none