.trial
  padding: 1em 1em 0 1em
  font-size: 1.2em
  
  .checkpoint
    background: rgba( #fff, 0.3 )
    border-bottom: 1px solid #f9bc0d
    padding: 1em
    margin: 0 0 1em 0
          
    h1
      margin: 0 0 1em 0
      
      span
        display: block
        
      .chapeau
        font-size: .6em
        margin: 0 0 .3em
        opacity: .6
        text-transform: uppercase
        line-height: 1
        
      .title
        font-size: 1em
        text-transform: uppercase
        line-height: 1